@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Session
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="POS - Bootstrap Admin Template">
    <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern,  html5, responsive">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>Dreams Pos admin template</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/admin/img/favicon.png">

    <link rel="stylesheet" href="~/admin/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/admin/css/animate.css">

    <link rel="stylesheet" href="~/admin/css/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" href="~/admin/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/admin/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="~/admin/css/style.css">
</head>
<body>
    <div id="global-loader">
        <div class="whirly-loader"> </div>
    </div>

    <div class="main-wrapper">

        <div class="header">

            <div class="header-left active">
                <a href="index.html" class="logo">
                    <img src="~/admin/img/logo.png" alt="">
                </a>
                <a href="index.html" class="logo-small">
                    <img src="~/admin/img/logo-small.png" alt="">
                </a>
                <a id="toggle_btn" href="javascript:void(0);">
                </a>
            </div>

            <a id="mobile_btn" class="mobile_btn" href="#sidebar">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>

            <ul class="nav user-menu">

                <li class="nav-item">
                    <div class="top-nav-search">
                        <a href="javascript:void(0);" class="responsive-search">
                            <i class="fa fa-search"></i>
                        </a>
                        <form action="#">
                            <div class="searchinputs">
                                <input type="text" placeholder="Search Here ...">
                                <div class="search-addon">
                                    <span><img src="~/admin/img/icons/closes.svg" alt="img"></span>
                                </div>
                            </div>
                            <a class="btn" id="searchdiv"><img src="~/admin/img/icons/search.svg" alt="img"></a>
                        </form>
                    </div>
                </li>


                <li class="nav-item dropdown has-arrow flag-nav">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="javascript:void(0);" role="button">
                        <img src="~/admin/img/flags/us1.png" alt="" height="20">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="javascript:void(0);" class="dropdown-item">
                            <img src="~/admin/img/flags/us.png" alt="" height="16"> English
                        </a>
                        <a href="javascript:void(0);" class="dropdown-item">
                            <img src="~/admin/img/flags/fr.png" alt="" height="16"> French
                        </a>
                        <a href="javascript:void(0);" class="dropdown-item">
                            <img src="~/admin/img/flags/es.png" alt="" height="16"> Spanish
                        </a>
                        <a href="javascript:void(0);" class="dropdown-item">
                            <img src="~/admin/img/flags/de.png" alt="" height="16"> German
                        </a>
                    </div>
                </li>


                <li class="nav-item dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <img src="~/admin/img/icons/notification-bing.svg" alt="img"> <span class="badge rounded-pill">4</span>
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Notifications</span>
                            <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                        </div>
                        <div class="noti-content">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img alt="" src="~/admin/img/profiles/avatar-02.jpg">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
                                                <p class="noti-time"><span class="notification-time">4 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img alt="" src="~/admin/img/profiles/avatar-03.jpg">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">Tarah Shropshire</span> changed the task name <span class="noti-title">Appointment booking with payment gateway</span></p>
                                                <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img alt="" src="~/admin/img/profiles/avatar-06.jpg">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">Misty Tison</span> added <span class="noti-title">Domenic Houston</span> and <span class="noti-title">Claire Mapes</span> to project <span class="noti-title">Doctor available module</span></p>
                                                <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img alt="" src="~/admin/img/profiles/avatar-17.jpg">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">Rolland Webber</span> completed task <span class="noti-title">Patient and Doctor video conferencing</span></p>
                                                <p class="noti-time"><span class="notification-time">12 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img alt="" src="~/admin/img/profiles/avatar-13.jpg">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">Bernardo Galaviz</span> added new task <span class="noti-title">Private chat module</span></p>
                                                <p class="noti-time"><span class="notification-time">2 days ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="activities.html">View all Notifications</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown has-arrow main-drop">
                    <a href="javascript:void(0);" class="dropdown-toggle nav-link userset" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img src="~/admin/img/profiles/avator1.jpg" alt="">
                            <span class="status online"></span>
                        </span>
                    </a>
                    <div class="dropdown-menu menu-drop-user">
                        <div class="profilename">
                            <div class="profileset">
                                <span class="user-img">
                                    <img src="~/admin/img/profiles/avator1.jpg" alt="">
                                    <span class="status online"></span>
                                </span>
                                <div class="profilesets">
                                    <h5>Admin</h5>
                                    <h6>
                                         @if (!string.IsNullOrEmpty(@HttpContextAccessor.HttpContext.Session.GetString("UserName")))
                                        {
                                            <p class="text-dark"> Welcome:-@HttpContextAccessor.HttpContext.Session.GetString("UserName") </p>

                                        } 

                                    </h6>
                                    
                                </div>
                            </div>
                            <hr class="m-0">
                            <a class="dropdown-item" href="profile.html"> <i class="me-2" data-feather="user"></i> My Profile</a>
                            <a class="dropdown-item" href="generalsettings.html"><i class="me-2" data-feather="settings"></i>Settings</a>
                            <hr class="m-0">
                            @* <a class="dropdown-item logout pb-0" href="signin.html"><img src="~/admin/img/icons/log-out.svg" class="me-2" alt="img">Logout</a> *@
                            @if (!string.IsNullOrEmpty(@HttpContextAccessor.HttpContext.Session.GetString("UserName")))
                            {

                                <a class="dropdown-item logout pb-0" asp-area="" asp-controller="users" asp-action="Logout"><img src="~/admin/img/icons/log-out.svg" class="me-2" alt="img">LogOut</a>
                            }
                        </div>
                    </div>
                </li>
            </ul>


            <div class="dropdown mobile-user-menu">
                <a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html">My Profile</a>
                    <a class="dropdown-item" href="generalsettings.html">Settings</a>
                    <a class="dropdown-item" href="signin.html">Logout</a>
                </div>
            </div>

        </div>
        </div>

        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="active">
                        <a asp-controller="home" asp-action="Index"><img src="~/admin/img/icons/dashboard.svg" alt="img"><span> Dashboard</span> </a>
                        </li>

                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="~/admin/img/icons/users1.svg" alt="img"><span> Roles</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a asp-controller="roles" asp-action="Index">Role List</a></li>
                            <li><a asp-controller="roles" asp-action="Create">Add Role </a></li>
                           @*  <li><a href="supplierlist.html">Supplier List</a></li>
                            <li><a href="addsupplier.html">Add Supplier </a></li>
                            <li><a href="userlist.html">User List</a></li>
                            <li><a href="adduser.html">Add User</a></li>
                            <li><a href="storelist.html">Store List</a></li>
                            <li><a href="addstore.html">Add Store</a></li> *@
                        </ul>
                    </li>

                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="~/admin/img/icons/users1.svg" alt="img"><span> Users</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a asp-controller="users" asp-action="Index">Users List</a></li>
                            <li><a asp-controller="users" asp-action="Create">New User </a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="~/admin/img/icons/users1.svg" alt="img"><span> Suppliers</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a asp-controller="suppliers" asp-action="Index">Suppliers List</a></li>
                            <li><a asp-controller="suppliers" asp-action="Create">New Suppliers </a></li>
                        </ul>
                    </li>
                        <li class="submenu">
                            <a href="javascript:void(0);"><img src="~/admin/img/icons/product.svg" alt="img"><span> Product</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a asp-controller="class" asp-action="Index">Category List</a></li>
                            <li><a asp-controller="class" asp-action="Create">Add Category</a></li>
                            <li><a asp-controller="items" asp-action="Index">Product List</a></li>
                            <li><a asp-controller="items" asp-action="Create">Add Product</a></li>
                        </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);"><img src="~/admin/img/icons/sales1.svg" alt="img"><span> Sales</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="saleslist.html">Sales List</a></li>
                                <li><a href="pos.html">POS</a></li>
                                <li><a href="pos.html">New Sales</a></li>
                                <li><a href="salesreturnlists.html">Sales Return List</a></li>
                                <li><a href="createsalesreturns.html">New Sales Return</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);"><img src="~/admin/img/icons/purchase1.svg" alt="img"><span> Purchase</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="purchaselist.html">Purchase List</a></li>
                                <li><a href="addpurchase.html">Add Purchase</a></li>
                                <li><a href="importpurchase.html">Import Purchase</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);"><img src="~/admin/img/icons/expense1.svg" alt="img"><span> Expense</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="expenselist.html">Expense List</a></li>
                                <li><a href="createexpense.html">Add Expense</a></li>
                                <li><a href="expensecategory.html">Expense Category</a></li>
                            </ul>
                        </li>
                       
                        
                        <li class="submenu">
                            <a href="javascript:void(0);"><img src="~/admin/img/icons/return1.svg" alt="img"><span> Return</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="salesreturnlist.html">Sales Return List</a></li>
                                <li><a href="createsalesreturn.html">Add Sales Return </a></li>
                                <li><a href="purchasereturnlist.html">Purchase Return List</a></li>
                                <li><a href="createpurchasereturn.html">Add Purchase Return </a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);"><img src="~/admin/img/icons/places.svg" alt="img"><span> Places</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="newstate.html">New State </a></li>
                                <li><a href="statelist.html">State list</a></li>
                            </ul>
                        </li>
                      
                      
                        <li class="submenu">
                            <a href="javascript:void(0);"><i data-feather="bar-chart-2"></i> <span> Charts </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="chart-apex.html">Apex Charts</a></li>
                                <li><a href="chart-js.html">Chart Js</a></li>
                                <li><a href="chart-morris.html">Morris Charts</a></li>
                                <li><a href="chart-flot.html">Flot Charts</a></li>
                                <li><a href="chart-peity.html">Peity Charts</a></li>
                            </ul>
                        </li>
                      
                        <li class="submenu">
                            <a href="javascript:void(0);"><i data-feather="layout"></i> <span> Table </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="tables-basic.html">Basic Tables </a></li>
                                <li><a href="data-tables.html">Data Table </a></li>
                            </ul>
                        </li>
                       
                        <li class="submenu">
                            <a href="javascript:void(0);"><img src="~/admin/img/icons/settings.svg" alt="img"><span> Settings</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a>General Settings</a></li>
                                <li><a >Email Settings</a></li>
                                <li><a>Payment Settings</a></li>
                                <li><a>Currency Settings</a></li>
                                <li><a>Group Permissions</a></li>
                                <li><a>Tax Rates</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="page-wrapper">
            @RenderBody()
        </div>
            @RenderSection("Scripts", required: false)

        <script src="~/admin/js/jquery-3.6.0.min.js"></script>

        <script src="~/admin/js/feather.min.js"></script>

        <script src="~/admin/js/jquery.slimscroll.min.js"></script>

        <script src="~/admin/js/jquery.dataTables.min.js"></script>
        <script src="~/admin/js/dataTables.bootstrap4.min.js"></script>

        <script src="~/admin/js/bootstrap.bundle.min.js"></script>

        <script src="~/admin/plugins/apexchart/apexcharts.min.js"></script>
        <script src="~/admin/plugins/apexchart/chart-data.js"></script>

        <script src="~/admin/js/script.js"></script>
</body>
</html>